<ion-header>
  <ion-toolbar>
    <ion-title>Categorías</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModalWithSave()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input
      type="text"
      placeholder="Nueva categoría"
      [(ngModel)]="newCategoryName"
      (keyup.enter)="addCategory()"
    ></ion-input>
    <ion-button slot="end" (click)="addCategory()" [disabled]="!newCategoryName">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-list>
    @for (category of categoryList; track $index) {
      <ion-item>
        @if (editingCategoryIndex !== $index) {
          <ion-label>{{ category }}</ion-label>
        } @else {
          <ion-input type="text" [(ngModel)]="categoryList[$index]" (keyup.enter)="saveEditedCategory()"></ion-input>
        }
        <ion-icon button slot="end" color="danger" name="trash" (click)="deleteCategory($index)"></ion-icon>
        <ion-icon button color="primary" name="pencil-outline" (click)="startEditCategory($index)"></ion-icon>
      </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
